# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Python packaging for pip

on:
  pull_request:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish package for GitHub releases
      uses: pypa/gh-action-pypi-publish@f5622bde02b04381239da3573277701ceca8f6a0
      if: ${{ startsWith(github.ref, 'refs/tags') }}
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
